button.btn1 {
    
   	margin-left: 800px;
        
    
    
     
}

button.btn2 {   
   
 		margin-left: 130px;
       
        
    
   
   
    
}

h1{
	
	text-align: center;
	 
}

p.lead{
	text-align: center;
	 
}
p.input{
	margin-left: 800px;
    
    
	

}

