.container1{
	width: 300px;
	height: 60px;
	margin: 0 auto;
}


.container2{
	width: 270px;
	height: 60px;
	margin-right: 30px;
	margin: 0 auto;
}




.input{
	text-align: center;
}

.btn1{
	margin-right: 134px;
}


h1{
	
	text-align: center;
	 
}

p.lead{
	text-align: center;
	 
}


